@import 'tailwindcss';
@import './theme/theme.css';

.listitem-nav{
    @apply py-1.5 lg:py-3 px-4;
}

.anchor-nav{
    @apply text-xs text-secondary xl:text-sm lg:font-light hover:text-light;
}

.listitem-nav-details{
    @apply text-xs xl:text-sm lg:font-light block px-3 py-2 lg:py-3 hover:text-light lg:hover:bg-gray-200;
}

.hamburger-menu{
    @apply w-[25px] h-[2px] block bg-light;
}

.navbar-fixed{
    @apply rounded-lg right-6 top-17 w-[250px] p-2 fixed bg-[#0F1722] duration-300 shadow-[0_0_5px_0_rgba(255,255,255,0.2)];
}

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}