@import 'tailwindcss';
@import './theme/theme.css';

.listitem-nav{
    @apply py-2 mx-8 md:mx-5;
}

.anchor-nav{
    @apply text-xs text-secondary xl:text-sm lg:font-light hover:text-light;
}

.listitem-nav-details{
    @apply text-xs xl:text-sm lg:font-light block px-3 py-2 lg:py-3 hover:text-light lg:hover:bg-gray-200;
}

.hamburger-menu{
    @apply w-[25px] h-[2px] block bg-light;
}

.navbar-fixed{
    @apply fixed z-[99] bg-bg opacity-90 duration-300;
    backdrop-filter: blur(10px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-active > span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}