@import 'tailwindcss';

@theme {
    --color-light: #FBFBFB;
    --color-secondary: #99A1AF;
    --color-neon: #40E4F1;
    --color-bg: #0A120C;
    --color-gdark: #1A3636;
    --color-white: #FAFFF5;
    --color-gray: #A4A4A4;

    --breakpoint-3xl: 120rem;
    --breakpoint-s: 30rem;
    --breakpoint-xs: 22rem;

    --shadow-md: 2px 4px 6px -1px rgb(0 0 0 / 0.1)

  }
